*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    background-color: #007bff;
    padding: 20px 0;
    color: white;
  }
  nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
  }

  .tabs{
    display: flex;
    gap: 20px;
  }

  main {
    padding: 1rem;
  }